.text-center {
    text-align: center;
}
.bg-red {
    background: grey;
}
.mx-auto {
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.row{
    margin: 5px;
}
.sign{
    background-color: #F69906;
    color: white;
}
.other{
    background-color: #9f9f9f;
    color: black;
}